<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-icon-180x180.png">
  <link href="./assets/favicon.ico" rel="icon">

  <title>Title page</title>  

<link href="./main.d8e0d294.css" rel="stylesheet"></head>

<body class="">

<!-- Add your content of header -->
<div class="background-color-layer" style="background-image: url('assets/images/padoru-padoru-00-3b3129c9a10651d552cb4cf218129579.jpg')"
></div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>Saya Iqbar Nuansa Alam</h1>
      <p>Siswa SMKN  Negeri 1 Panji Situbondo</p>
      <p>
        <a class="fa-icon fa-icon-2x" href="https://www.facebook.com/profile.php?id=100090073796088" title="">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://wa.me/85327252048" title="">
          <i class="fa fa-whatsapp"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://instagram.com/iqbaralam?igshid=YmMyMTA2M2Y=" title="">
          <i class="fa fa-instagram"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="http://github.com/IqbarAlam" title="">
          <i class="fa fa-github"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fpixabay.com%2Fid%2Fimages%2Fsearch%2Fkera%2F&psig=AOvVaw0s7xxkxvwshO5diZ5vGNOJ&ust=1676916433158000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCJCf-9OWov0CFQAAAAAdAAAAABAE" title="">
          <i class="fa fa-google"></i>
        </a>
      </p>
    </div>
  </header>



<!-- Add your site or app content here -->
 
 <div class="container">
   <div class="row">
     <div class="col-xs-12">

        <div class="card">
          <div class="card-block">
            <h2>Tentang saya</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="./assets/images/hero.png" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">

              <p>Saya adalah siswa dari SMKN Negeri 1 Panji Situbondo jurusan pengembangan perangkat lunak dan gim (PPLG).</p>
              <p>Saya lahir di Gresik 2006-02-17 (omong - omong saya kemarin ulang tahun🥳🥳🥳 dan tahun ini saya berumur 17tahun🙁). Saya adalah anak kedua dari tiga saudara.</p>
              <p></p>

              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Projects</h2>
            <div class="row">
              <div class="col-md-4">
                <img src="./assets/images/gambar1.png" class="img-responsive" alt="">
                <h3 class="h5">Fan book</h3>
                <p>01 januari 2023</p>
              </div>
              <div class="col-md-4">
                <img src="./assets/images/gambar2.png" class="img-responsive" alt="">
                <h3 class="h5">movie pedia</h3>
                <p>01 januari 2023</p>
              </div>
              <div class="col-md-4">
                <img src="./assets/images/gambar4.png" class="img-responsive" alt="">
                <h3 class="h5">Bakul tanah di Mars</h3>
                <p>01 januari 2023</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>School</h2>
            <div class="work-experience">
              <small class="date">2010-2012 / 2013-2015</small>
              <h3 class="h5 date-title">Tk Tunas Jepara - <a href="https://goo.gl/maps/9aaWwNJPg4SDYYTJ8" title="Create professionnal website">Surabaya</a></h3>
              <small class="date">2013-2018</small>
              <h3 class="h5 date-title">SD Muhammadiyah 12  <a href="https://goo.gl/maps/xq6kLnbeB9d1JSCt9" title="">Surabaya</a></h3>
              <h3 class="h5 date-title">SD Jeruk 2  <a href="https://goo.gl/maps/axciM76GQbBE2XoY9" title="">Surabaya</a></h3>
              <small class="date">2019-2021</small>
              <h3 class="h5 date-title">SMPN 40 - <a href="https://goo.gl/maps/61qQkbo3YJwXpFpK6" title="Create professionnal website">Surabaya</a></h3>
              <small class="date">2021-2023</small>
              <h3 class="h5 date-title">SMKN 1 Panji- <a href="https://goo.gl/maps/z5XeNvZmpHJ3ySum8" title="Create professionnal website">Situbondo</a></h3>
            </div>
          </div>
        </div>
        

        <div class="card">
          <div class="card-block">
            <h2>Education</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2010-2012</small>
                  <h3 class="h5 date-title">Taman anak-anak</h3>
                  <p>Tk Tunas Jepara</p>
                </div>
                
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2013-2018</small>
                  <h3 class="h5 date-title">Sekolah dasar</h3>
                  <p>Sd Muhammadiyah 12 / Sd Jeruk 2</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2019-2021</small>
                  <h3 class="h5 date-title">Sekolah menengah pertama</h3>
                  <p>SMPN 40 Surabaya</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2021-2023</small>
                  <h3 class="h5 date-title">Sekolah menengah kejuruhan</h3>
                  <p>SMKN 1 Panji Situbondo</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Language</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">English  <small>Pemulah</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Jawa  <small>Isoo</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Indonesia  <small>Fasih</small></h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Projects</h2>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="./assets/images/gambar1.png" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">Fan book</h3>
                  <p>01 januari 2023</p>
                </div>
              </div>
              <div class="item">
                <img src="./assets/images/gambar2.png" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">Movie pedia</h3>
                  <p>01 januari 2023</p>
                </div>
              </div>

              <div class="item">
                <img src="./assets/images/gambar4.png" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">Bakul tanah Mars</h3>
                  <p>01 januari 2023</p>
                </div>
              </div>
            </div>

            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

          </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Social Network</h2>
            <div class="row">
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://instagram.com/iqbaralam?igshid=YmMyMTA2M2Y=" title=""><span class="social-round-icon fa-icon"><i class="fa fa-instagram"></i></span>@iqbaralam</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://www.facebook.com/profile.php?id=100090073796088" title=""><span class="social-round-icon fa-icon"><i class="fa fa-facebook"></i></span>IqbarAlam</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="http://github.com/IqbarAlam" title=""><span class="social-round-icon fa-icon"><i class="fa fa-github"></i></span>IqbarAlam</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Contact</h2>
            <form action="" class="reveal-content">
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="subject" placeholder="Subject">
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="5" placeholder="Enter your message"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class=" btn btn-primary">Send message</button>
              </div> 
            </form>
          </div>
        </div>
       
     </div>
   </div>
 </div>

</main>
<footer class="footer-container white-text-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p><img src="./assets/images/mashup-icon.svg" alt=""></p>
        
        <p>@Iqbar Nuansa Alam <a href="" title="">19.44-03.00</a>/<a href="" title="">Udah pak capek</a></p>
        <p>
          <a class="fa-icon fa-icon-2x" href="https://www.facebook.com/profile.php?id=100090073796088" title="">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://wa.me/85327252048" title="">
            <i class="fa fa-whatsapp"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://instagram.com/iqbaralam?igshid=YmMyMTA2M2Y=" title="">
            <i class="fa fa-instagram"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="http://github.com/IqbarAlam" title="">
            <i class="fa fa-github"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fpixabay.com%2Fid%2Fimages%2Fsearch%2Fkera%2F&psig=AOvVaw0s7xxkxvwshO5diZ5vGNOJ&ust=1676916433158000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCJCf-9OWov0CFQAAAAAdAAAAABAE" title="">
            <i class="fa fa-google"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     scrollRevelation('.card');
  });
</script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--><script type="text/javascript" src="./main.bc58148c.js"></script></body>

</html>